<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/home/">
        <h1>Quizzica</h1>
      </a>
      <a href="/users/<%= user_id %>">
        <div class="create-quiz-link">
          Your Quizzes!
        </div>
      </a>
      <a href="/users/<%= user_id %>/makequiz">
        <div class="create-quiz-link">
          Make Quiz
        </div>
      </a>
    </nav>
  </header>
  <div class="main-container">
    <h1>Explore all Public quizzes</h1>
    <h2>No logins! No sign ups!</h2>
    <div class="links-container">
      <% for (let quiz of quizzes) {%>

        <div class="quiz-link">
          <%= quiz.name %>
          <br>
          <a href="/answers/<%= quiz.id%>/<%= user_id %>">
          <p><%= quiz.description %></p>
        </a>
        </div>
      </a>
      <br>
      <form method="POST" action="/users/<%= quiz.user_id %>/delete/<%= quiz.id %>">
        <button class="delete-btn" type="submit">Delete Quiz</button>
      </form>
      <%}%>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/client.js"></script>
</body>

</html>
