<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="main-container">
    <h2>EXPLORE ALL PUBLIC QUIZZES</h2>
    <!-- <h4>NO LOGINS! NO SIGNUPS!</h4> -->
    <div class="quiz-container">
      <% for (let quiz of quizzes) {%>
        <%if(quiz.isprivate === false){ %>
        <div class="quiz-card-wrapper">
            <a id ="quiz-card-link" href="/answers/<%= quiz.id%>/<%= user_id %>"><%= quiz.name %>
              <br>
              <p id ="quiz-card-description"><%= quiz.description %></p>
            </a>
            <h4 class ="privacy">PUBLIC QUIZ</h4>
        </div>
        <% }%>
        <%if(quiz.isprivate === true){ %>
          <div class="quiz-card-wrapper">
              <a id ="quiz-card-link" href="/answers/<%= quiz.id%>/<%= user_id %>"><%= quiz.name %>
                <br>
                <p id ="quiz-card-description"><%= quiz.description %></p>
              </a>
              <h4 class ="privacy"><%= quiz.isprivate = "PUBLIC QUIZ"%></h4>
          </div>
          <form method="POST" action="/users/<%= quiz.user_id %>/delete/<%= quiz.id %>">
            <button id="delete" type="submit">DELETE QUIZ</button>
          </form>
          <% }%>
      <%}%>
    </div>
  </div>

</body>

</html>
