<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz in Progress</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quizProgress.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/home/<%= input[0].user_id %>">QUIZZICA</a>
      <div class ="wrapper">
        <a class ="wrapper link" href="/users/<%= input[0].user_id %>">My Private Quizzes</a>
        <a class ="wrapper link" href="/users/<%= input[0].user_id %>/makequiz">Make Quiz</a>
      </div>

    </nav>
  </header>
  <div class="main-wrapper">
    <div class="quiz-wrapper">
      <h3>PROGRESS ON YOUR QUIZ : &nbsp;<%= input[0].name%></h3>

      <div class="questions-wrapper">
        <% let questionText = ''; %>
        <% for (let element of input) { %>
        <% if (element.question === questionText) { %>
        <li><%= element.answer %></li>
        <br>
        <% } else {  %>
        <% questionText = element.question %>
        <h4><%= questionText %></h4>
        <br>
        <li><%= element.answer %></li>
        <br>
        <% } %>
        <% } %>
        <br>
      </div>
      <div class="form-container">
              <form action="/quiz/<%= input[0].quiz_id %>/questions" method="get">
        <input class ="edit "type="submit" value="EDIT QUIZ">
      </form>
      <form action="/answers/<%= input[0].quiz_id %>/<%= input[0].user_id %>" method="get">
        <input class ="submit" type="submit" value="SUBMIT">
      </form>
      </div>
    </div>
  </div>
</body>

</html>
